.linksContainer {
  background-color: #5172b5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 75px;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 100;
  align-content: center;
  flex-wrap: wrap;
}

.link {
  color: #f8f8f8;
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
}

.link:hover {
  color: #1a2434;
  font-family: sans-serif;
  font-size: 22px;
  margin: 20px;
  text-decoration: none;
}

.myLinks {
  height: 75px;
  width: 400px;
}

@media (max-width: 500px) {
  .linksContainer {
    height: 40px;
  }

  .link {
    font-size: 15px;
    margin: 10px 20px 10px 20px;
  }

  .myLinks {
    height: 50px;
    width: 400px;
  }
}
